/*Footer Settings*/

footer{
	background-color: rgb(50,50,100);
	color: white;
}

.footer-bottom-text{
	text-align: center;
	padding-bottom: 1	rem;
	margin-bottom: -1rem;
}

footer .generic-title{
	padding-top: 3rem;
}