/*Whole page settings*/
*{
	margin: 0;
	padding: 0;
	border: 0;
}

/*Misc. Settings*/

	/* Define properties for all separator elements*/
	.sep{
		height: 5rem;
	}

	/*Set sizes for all generic titles*/
	.generic-title{
		text-align: center;
		font-size: 5rem;
		font-weight: bold;
		margin: 2%;
	}

	/*Set sizes for all generic logos*/
	.generic-logo{
		margin-left: 1rem;
		margin-right: 1rem;
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}

	/*Enables Text Wrap*/
	.text-wrap{
		display: flex;
		flex-wrap: wrap;
	}

/*Card Settings*/

	/*Genral Card Settings*/
	.card{

	}

	/*Card Apprearance*/
	/*Footer Cards*/
	.footer-card{
		background-color: rgb(50,50,100);
		border: 0px;
		width: 400px;
		margin: 5%;
	}

	.footer-card:hover{
		background-color: rgb(80,80,150);
		box-shadow: inset 0 5px 5px -5px black;
	}

	/*Section Cards*/
	.section-card:hover{
		color: black;
 		background-color: rgb(80,80,150);
 		box-shadow: inset 0 5px 5px -5px black;
	}

	/*Card Arrangement*/
	/*Card Grid*/
	.card-grid{
		display: grid;
		grid-column-gap: 2rem;
		grid-row-gap: 1rem;
		grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
		grid-auto-columns: minmax(200px, auto);
	}

	/*Card List*/
	.card-list{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

/*Element Settings*/

	/*navigation bar settings*/
	nav{
		background-color: rgb(50,50,100);
		box-shadow: 1px 1px 0px rgb(30,30,30),
                	2px 2px 0px rgb(30,30,30);
	}

	.nav-link:hover {
	  color: black;
	  background-color: rgb(80,80,150);
	  box-shadow: inset 0 5px 5px -5px black;
	}

	/*Header Settings*/
	header{

	}

	header .carousel-item img{
		width: 100%;
	}

	/*Section Settings*/
	section{

	}

	/*Article Settings*/
	article{

	}

	/*Footer Settings*/
	footer{
		background-color: rgb(50,50,100);
		color: white;
	}

	.footer-bottom-text{
		text-align: center;
		padding-bottom: 1	rem;
		margin-bottom: -1rem;
	}

	footer .generic-title{
		padding-top: 3rem;
	}