/*navigation bar settings*/
nav{
	background-color: rgb(50,50,100);
	box-shadow: 1px 1px 0px rgb(30,30,30),
				2px 2px 0px rgb(30,30,30);
}

.nav-link:hover {
	color: black;
	background-color: rgb(80,80,150);
	box-shadow: inset 0 5px 5px -5px black;
}